@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior:smooth;
    @apply scroll-pt-6;
  }

  body{
    @apply bg-secondary text-blancDark text-base;
    counter-reset: h2;
  }
  ::selection{
    @apply bg-primary text-blanc;
  }
  ::-webkit-scrollbar{
    @apply w-1;
  }
  ::-webkit-scrollbar-track{
    @apply bg-transparent h-fit;
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-primary;
  }
  h2, h3, h4, h5, h6{
    @apply font-semibold;
  }
  h4{
    @apply text-[18px] text-blanc;
  }
  h3{
    @apply text-2xl sm:text-[1.65rem] md:text-[1.8rem] text-blanc;
  }
}

@layer components{
  .button-primary{
    @apply w-fit px-7 py-4 border border-primary rounded-md cursor-pointer transition-all duration-150 ease-in my-5 font-mono text-primary;
  }
  .button-primary:hover{
    @apply shadow-[4px_4px_0_0] shadow-primary translate-x-[-5px] translate-y-[-5px] text-primary outline-none;
  }
  .lvlOne{
    @apply text-[40px] sm:text-[3.5rem] lg:text-[60px] tracking-tight leading-[120%];
  }
  .special{
    @apply font-mono text-primary ;
  }
  .numbered-heading{
    @apply flex items-baseline relative text-[28px] sm:text-4xl leading-[110%] tracking-tight after:w-full after:md:w-[300px] whitespace-nowrap mb-10 text-blanc;
  }
  .numbered-heading::before{
    counter-increment: h2;
    content: "0" counter(h2) ".";
    margin-right: 10px;
    font-family: 'Fira Code';
    font-size: 20px;
    font-weight: 400;
    @apply text-primary;
  }
  .numbered-heading::after{
    content: "";
    display: block;
    position: relative;
    top: -10px;
    height: 1px;
    margin-left: 20px;
    @apply bg-secondaryLight;
  }
  .customLink{
    @apply w-fit inline-block text-primary after:content-[""]
    after:block after:w-0 after:h-[1px] after:relative after:bottom-[0.2em] after:bg-primary after:opacity-50 after:transition-all after:duration-200 after:ease-in;
  }
  .customLink:hover{
    @apply after:w-[100%];
  }
  .technologies{
    @apply list-none text-sm font-mono flex flex-col gap-2 py-4 w-fit;
  }
  .technologies li{
    @apply relative pl-7 mb-2 before:mr-2 before:content-["▹"] before:text-primary before:absolute before:left-0 before:top-0;
  }
  .tab-title{
    @apply px-5 py-3 transition-all ease-in md:px-0 md:w-32 md:text-left md:pl-6 md:pr-4;
  }
  .footerLink{
    @apply relative top-0 transition-all duration-150 ease-linear hover:top-[-3px] hover:text-primary p-2;
  }
  .footerMail{
    @apply font-mono tracking-wider text-sm p-2 relative top-0 transition-all duration-150 ease-linear hover:top-[-3px] hover:text-primary;
    writing-mode: vertical-rl;
  }
  .containerBase{
    @apply px-5 md:px-[50px] lg:px-[100px] mx-auto max-w-5xl flex flex-col justify-center py-[60px] md:py-[100px];
  }
  .menuIcon{
    @apply w-8 cursor-pointer block md:hidden;
  }
  .menuIcon::before, .menuIcon::after, .menuIcon div{
    @apply bg-primary content-[""] block h-[2px] my-1 transition-all duration-500;
  }
  .menuIconActive::after{
    @apply translate-y-[-6px] rotate-[-135deg];
  }
  .menuIconActive:before{
    @apply translate-y-[6px] rotate-[135deg];
  }
  .menuIconActive div{
    @apply scale-0
  }
  .menu-mobile-link{
    @apply text-blanc;
  }
  .menu-mobile-link::before{
    counter-increment: a;
    content: "0" counter(a) ".";
    @apply text-primary text-base font-normal block mb-1;
  }
  .counterLink{
    counter-reset: a;
  }
  .menuLink{
    @apply text-blanc hover:text-primary;
  }
  .menuLink::before{
    counter-increment: b;
    content: "0" counter(b) ".";
    @apply text-primary text-sm font-normal mr-1;
  }
  .menuTab{
    counter-reset: b;
    @apply font-mono hidden md:flex gap-8;
  }








  @keyframes ldio-je9z09xo1e {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-je9z09xo1e div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-je9z09xo1e linear 1s infinite;
    background: #efb533;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-je9z09xo1e div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #efb533;
  }.ldio-je9z09xo1e div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #efb533;
  }
  .loadingio-spinner-spinner-yrjmn7naxmm {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #0e1626;
  }
  .ldio-je9z09xo1e {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-je9z09xo1e div { box-sizing: content-box; }
}